/myshop/__pycache__
/shop/__pycache__
/shop/migrations/__pycache__
/cart/__pycache__
/cart/migrations/__pycache__
/orders/__pycache__
/orders/migrations/__pycache__
/payment/__pycache__
/payment/migrations/__pycache__
/coupons/__pycache__
/coupons/migrations/__pycache__
